@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

:root{
    --text-color: white;
    --bg-image: url(./assets/bg-desktop.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --bh-color: #D3AD48;
}

.light{
    --text-color: black;
    --bg-image: url(./assets/bg-desktop-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);

}

body{
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100dvh;
}

.bh{
   float: right;
   margin-right: 15px;
   font-size: 12px;
   cursor: default;
}

.container{
    width: 100%;
    max-width: 588px;
    margin: auto;
    margin-top: 56px;
    padding: 0 24px;
}

.profile{
    text-align: center;
    padding: 24px;
}

.profile img{
    width: 112px;
}

.profile p{
    font-weight: 500;
    margin-top: 8px;
}

.switch{
    position: relative;
    width: 64px;
    height: 24px;
    margin: 4px auto;
}

.switch:hover{
    background: var(--highlight-color);    
    border-radius: 9999px;
    cursor: pointer;
}

.switch button{
    width: 32px;
    height: 32px;
    background: white;
    border: none;
    border-radius: 50%;
    background-image: var(--switch-bg-url);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    cursor: pointer;
    animation: slide-back 0.2s;
}

.switch button:hover{
    outline: 8px solid var(--highlight-color);
}

.light .switch button{
    animation: slide-in 0.2s forwards;
}

.switch span{
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: block;
    border-radius: 9999px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid #ce9804;
    color: #D3AD48;
}

.sociais{
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.sociais a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

.sociais a:hover{
    background: var(--highlight-color);
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

footer a:hover{
    color: #D3AD48;
}

@media (max-width: 700px) {
    :root{
        --bg-image: url(./assets/bg-mobile.jpg)
    }

    .light{
        --bg-image: url(./assets/bg-mobile-light.jpg)
    }
}

/*animation */
@keyframes slide-in {
    from{
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}
